    <h1>Movies API</h1>
    <h2>Kinder horror films where no animals are harmed</h2>
    <nav>

      <!-- use for loop to generate options list -->
        <form onsubmit="return mysubmit();">
        <label for="films">Select a Film:</label>

          <select onchange="window.location.href = this.value";>
          <option value="select">Select a film</option>
          <% for(var i = 0; i < films.length; i++) {%>

            <li class="films">
            <!-- Output name from the iterated quote object -->
            <option value="<%= films[i].title %>"><%= films[i].title %></option>
            <!-- Output quote from the iterated quote object -->
            </li>
        <% } %>
          </select>
      </form>
<!-- this needs to be resolved in js or server.js -->
      <!-- <button><a href="http://localhost:8000/random">Random</a></button> -->

    </nav>

