body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background: #092871;
    display:block;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  h1 {
    color: #f23c36;
  }
  header h2 {
    color: #ffc857;
    margin: 0 5px;

  }

  nav {
    float:left;
    width: 100vww;
    margin: 50px;
  }

  button, form {
    float: left;
    margin: 5px;
    color: #ffc857;
    text-decoration: none;

  }
  
  div {
    display:flex;
    flex-direction: column;
    margin:20px auto;
    width: 80%;
    height:80%;
    justify-content: center;
    align-items: center;
    background: #ffc857;
    color: 323031;
    border-radius: 20px;
    padding: 10px;
    
    
  }
  
  /* p {
    display:flex;
    flex-direction: column;
    text-align:center;
    align-self:center;
    align-items: flex-start;
  } */
  
  .filmcontent {
      text-align:center;
  
  }

.admin {

  background: #ffc857;
  margin: atuo;
  position: fixed;
  width: 80%vww;
  top:30%;
  left: 30%;
  padding: 20px;
  border-radius: 5%;;

}

input {
  display:flex;
  margin: 0 auto;
  width: 80%;
  padding: 5px;
}

/* .sentences {
  width: 90%;
  height: 50px;
} */

span {
  color: black;
}
  
submit {
  color:black;
}

#backButton {
  text-align: center;
  width: 135px;
  padding: 3px 4px 3px 9px;
  margin: 0 auto;
}