<%- include('../partials/header') %>

  <header>
    <h2 class="h2Admin">Add films to the database using the form below</h2>
  </header>
  <!-- add a scary rating to films -->
    <form class="admin" action="/film" method="POST">
        <span>Title of film: </span>
        <input class="short" type="text" placeholder="title" name="title">
        <span>Review of film: </span>
        <input class="sentences" type="text" placeholder="review"name="review">
        <span>Summary of film: </span>
        <input class="sentences" type="text" placeholder="summary"name="summary">
        <span>Rating out of 5: </span>
        <input type="number" placeholder="rating"name="rating">
        <span>Is this film for kids? or is this film safe for kids? </span>
        <input class="short" type="text" placeholder="for kids"name="forKids">
        <span>List any possible trigger warnings: </span>
        <input class="short" type="text" placeholder="trigger warnings"name="triggers">
        <span>Copy in link for the film: </span>
        <input type="url" placeholder="imdb link"name="imdb">
        <input type="url" placeholder="wiki link"name="wiki">
        <input type="url" placeholder="trailer link"name="trailer">
        <button type="submit">Submit</button>
    </form>


   
     

</body>



</html>