<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <header>
    <h1>Movies API</h1>
    <h2>Kinder horror films where no animals are harmed</h2>
    <nav>

      <!-- use for loop to generate options list -->
        <form onsubmit="return mysubmit();">
        <label for="film">Select a Film:</label>

        <!-- <select name="films" id="option"> -->
          <select onchange="location = this.value;">


          <option value="A Girl Walks Home Alone at Night">A Girl Walks Home Alone at Night</option>
          <option value="Willy’s Wonderland">Willy’s Wonderland</option>
          <option value="Vivarium">Vivarium</option>
          <option value="Paperhouse">Paperhouse</option>
          <option value="Be My Cat">Be My Cat</option>
          <option value="Mr. Harrigans Phone">Mr. Harrigans Phone</option>
          <option value="A Nightmare on Elm Street 3: Dream Warriors">A Nightmare on Elm Street 3: Dream Warriors</option>
          <option value="The Black Phone">The Black Phone</option>
        </select>
        <input type="submit" id="submit" value="Submit">
      </form>

      <!-- <a href="localhost:8000/api/random">you pick</a> -->
      <button><a href="http://localhost:8000/random" target="_blank">Random</a></button>

    </nav>

  </header>

    <!-- <p>Please use [https://movies-api.jpcanindo.repl.co/api/MOVIENAMEHERE]</p> -->
 
  
</body>



</html>